.content.registpage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


.content.registpage .regist {
    padding: 1rem;
    margin: 1rem;
    box-shadow: var(--panel-boxshadow);
    
    border-radius: 2rem;

    width: min-content;
    min-width: 16rem;
    max-width: 25rem;
    height: max-content;
    flex-grow: 1;

    background-color: var(--bg-color);
}

.content.registpage .regist .regist-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content.registpage .regist h1 {
    margin-top: 0;
    text-align: center;
}


@media screen and (max-width: 480px) {
    .content.registpage {
        width: calc(100vw - 4rem);
        padding: 1rem 1rem;
        margin: 2rem 1rem;

        min-height: calc(100vh - var(--header-height) - 4rem);
    }
}

@media screen and (min-width: 480px) {
    .content.registpage {
        width: calc(100vw - 6rem);
        padding: 2rem;
        margin: 0 1rem;

        min-height: calc(100vh - var(--header-height) - 4rem);
    }
}


.content.registpage .regist form {
    max-width: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.content.registpage .regist .form-column {
    margin: 1rem .5rem;
}

.content.registpage .regist .form-column label {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
}

.content.registpage .regist .form-column input {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    padding: 0;
    background-color: var(--bg-color);
    border-bottom: solid 1px #1a1a1a;
}

.content.registpage .regist input[type=submit] {
    border: solid 1px #ffffff;
    border-radius: .8rem;
    background-color: var(--key-color);
    color: #ffffff;
    width: 5rem;
    font-size: 1.2rem;

    display: inline;
}

.content.registpage .regist .team-of-service {
    width: max-content;
    display: inline;
}


/* Introduciton */

.content.registpage .introduction {
    height: min-content;
    width: min-content;
    min-width: 16rem;
    max-width: 45rem;
    flex-grow: 2;

    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: var(--panel-boxshadow);

    background-color: var(--bg-color);
}

.content.registpage .introduction .intro-section {
    margin: 2rem auto;
    text-align: left;
}

.content.registpage .introduction .intro-section h2 {
    margin: 0 0;
    border-bottom: dashed 1px #8d8d8d;
}

.content.registpage .introduction .intro-section p {
    margin: .5rem 0;
}

.content.registpage .regist .registered {
    margin: 0 1rem;
}
