.content.userpage .blocklist.panel .blocklist-container {
    width: 100%;
    overflow-x: scroll;
}

.content.userpage table.block-list {
    width: 100%;
    min-width: 25rem;
}


.content.userpage col.active {
    width: 1rem;
}

.content.userpage col.start {
    width: 5rem;
}

.content.userpage col.end {
    width: 5rem;
}

.content.userpage td {
    text-align: center;
}

.content.userpage td input {
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    font-size: 1.25rem;
}

.content.userpage td input[type="number"] {
    text-align: right;
}