# WEBSITE

{$HOSTNAME} {
    redir https://www.{$HOSTNAME}{uri}
}

www.{$HOSTNAME} {
    file_server
    root * /public/
    encode zstd gzip

    try_files {path} index.html
}

api.{$HOSTNAME} {
    reverse_proxy api:8000
}
