# WEBSITE

{$HOSTNAME} {
    redir https://www.{$HOSTNAME}{uri}
}

www.{$HOSTNAME} {
    encode zstd gzip
    route /api/* {
        reverse_proxy api:8000
    }

    route /* {
        root * /public/

        try_files {path} index.html

        file_server
    }
}
